// #retrato{
//     border-radius: 50%;
// }

.skill {
    text-align: center;
    margin-bottom: 20px;

    .skill-Img {
        border-radius: 20px;
        margin-top: 45px;
        width: auto;
        height: 150px;
    }
}
